<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Clear, James. Atomic Habits: Tiny Changes, Remarkable Results: An Easy &amp;amp; Proven Way to Build Good Habits &amp;amp; Break Bad Ones. Avery, an Imprint of Penguin Random House, 2018. </string>
	<string>Kleon, Austin. Steal like an Artist: 10 Things Nobody Told You about Being Creative. Workman Publishing Company, 2022. </string>
</array>
</plist>
