<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>function</key>
		<string>The function of this repo is to provide fake data for test cases.</string>
		<key>title</key>
		<string>Fakery</string>
		<key>github</key>
		<string>https://github.com/vadymmarkov/Fakery.git</string>
	</dict>
	<dict>
		<key>function</key>
		<string>This is used for logging in the application. Any production application should have robust logging. Swift log takes a lot of the heavy lifting involved in logging and makes use of an easy to use interface `Logging`.</string>
		<key>title</key>
		<string>SwiftLog</string>
		<key>github</key>
		<string>http://github.com/apple/swift-log</string>
	</dict>
	<dict>
		<key>function</key>
		<string>This repository provides a property wrapper for using synchronized swiftui property wrappers with iCloudKit. I started writing this, ran into a small issue with how to best register observers and found this library. Even though I was very close, its best to not reinvent a wheel.</string>
		<key>title</key>
		<string>Cloud Storage</string>
		<key>github</key>
		<string>https://github.com/tomlokhorst/CloudStorage</string>
	</dict>
</array>
</plist>
